# This workflow will do a clean installation of node dependencies,
# cache/restore them, build the source code and run tests across different
# versions of node For more information see:
# https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    strategy:
      matrix:
        # See supported Node.js release schedule at:
        # https://nodejs.org/en/about/previous-releases
        node-version: [18, 20]

    services:
      rabbitmq:
        image: rabbitmq:3-alpine
        ports:
        - 5672:5672

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{matrix.node-version}}
      uses: actions/setup-node@v4
      with:
        node-version: ${{matrix.node-version}}
        cache: 'npm'
    - run: npm ci
    - run: npm test
      timeout-minutes: 5
      env:
        RABBITMQ_URL: amqp://guest:guest@localhost:5672
